EFEW32_0326/EFEW32_orarend.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="orarend">
    <xs:complexType>
     <xs:sequence>
        <xs:element name="ora" type="oraTipus" maxOccurs="unbounded"/>
     </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="oraTipus">
    <xs:sequence>
        <xs:element name="targy" type="xs:string"/>
        <xs:element name="idopont" type="idopontTipus"/>
        <xs:element name="helyszin" type="xs:string"/>
        <xs:element name="oktato" type="xs:string"/>
        <xs:element name="szak" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:int" use="required"/>
    <xs:attribute name="tipus" type="oraTipusTipus" default="előadás"/>
  </xs:complexType>

  <xs:simpleType name="oraTipusTipus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="előadás"/>
      <xs:enumeration value="gyakorlat"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="idopontTipus">
    <xs:sequence>
        <xs:element name="nap" type="xs:string"/>
        <xs:element name="ora" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>


  <xs:simpleType name="naptipus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="hétfő"/>
      <xs:enumeration value="kedd"/>
      <xs:enumeration value="szerda"/>
      <xs:enumeration value="csütörtök"/>
      <xs:enumeration value="péntek"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="IdopontOraTipus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="08:00-09:30"/>
      <xs:enumeration value="09:45-11:15"/>
      <xs:enumeration value="11:30-13:00"/>
      <xs:enumeration value="13:15-14:45"/>
      <xs:enumeration value="15:00-16:30"/>
      <xs:enumeration value="16:45-18:15"/>
    </xs:restriction>
  </xs:simpleType>


</xs:schema>